
dd.error {
    color: #ff0000;
}

body {
    max-width: 1280px;
    font-family: arial;
    margin: 10px auto;
    background-image: url(/assets/images/ep_naturalwhite.png);
}

.input-area {
    background-color: lightblue;
    padding: 10px 10px;
    margin: 2px 0px;
    display: inline-block;
}

.input-area.error {
    background-color: rgb(255, 204, 204);
}

.inputs {
    padding: 5px 5px;
    background-color: rgba(210, 210, 210, 0.5);
    margin-bottom: 5px;
}

select option.blank {
    color: #CCC;
}

.inputs.date {
}

.inputs.time {
}

label {
    font-size:16pt;
}

#page-header, #page-footer {
    background-color: rgba(210, 210, 210, 0.5);
    padding: 5px 5px;
    margin: 5px 0px;
}

#page-footer {
    text-align:center;
    font-size: 10px;
}

ul {
    font-size: 20px;
}

.inputter {
    font-size:16pt;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a:visited {
    color: #0645ad;
}

a:hover {
   text-decoration: underline; // changed from text:decoration:none
}


input[type="submit"], input[type="reset"], input[type="button"], .button {
    transition: background-color .2s ease-in-out,color .2s ease-in-out,box-shadow .2s ease-in-out;
    background-color: #37c0fb;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.15)),url(bg01.png);
    border-radius: 5px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0 1.5em;
    line-height: 2.75em;
    min-width: 9em;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -.025em;
}