@()

@base("My Age Calculator - About") {

<div class="inputs-body">

<p>
  This website is an age calculator that takes your date of birth, and optionally time, as input and calculates your age -
  in different units of measurement: years, months, weeks, days, hours, minutes, seconds, milliseconds and even Planck Times.
</p>

<p>
  Furthermore, it tells you what your body has gone through in your lifetime - how much nails and hair have you grown,
  how much saliva produced, how many breaths you have drawn and and the number of heartbeats your heart has done.
</p>

<p>
  Fantasy about space flight is the ultimate escapism. How far could you have traveled in your lifetime, going at different
  speeds? Find out here!
</p>

@*
<p>
During the day I work as a Business Intelligence consultant. It used to be a lot of fun when the tool I worked with, Oracle OBIEE,
was considered to be innovative and was amongst the best BI tools on the market. Alas, those days are gone and my job as a consultant
has become much less enjoyable. I don't know but I've been told there is some money to be made in the Software Engineering industry -
I would love to go back to my software engineering roots and turn my hobby of Scala programming into a paid job.
</p>
*@


</div>

}
