@()

@base("My Age Calculator - About") {

<div class="inputs-body">
  <p>
    This website was developed
    by me as a <a href="https://en.wikipedia.org/wiki/%22Hello,_World!%22_program">"Hello world!"</a> project to learn the
  <a href="https://www.scala-lang.org/">Scala</a> <a href="https://www.playframework.com/">Play framework</a> and to develop web applications.<br>
  You are welcome to leave me a note <a href="/contact">here</a>.
  </p>

  @*
  <p>
    During the day I work as a Business Intelligence consultant. It used to be a lot of fun when the tool I worked with, Oracle OBIEE,
    was considered to be innovative and was amongst the best BI tools on the market. Alas, those days are gone and my job as a consultant
    has become much less enjoyable. I don't know but I've been told there is some money to be made in the Software Engineering industry -
    I would love to go back to my software engineering roots and turn my hobby of Scala programming into a paid job.
  </p>
  *@

  <p>
    <h2>Always look on the bright side of life!</h2>
  </p>
</div>

}
