@import helper._

@(myForm: Form[models.BirthData])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@main("Your Age Calculator") {
  <h1>Your Age Calculator</h1>
<p>Enter your birth date:</p>
  <form action="/ageCalculation" method="get">
    <p>

      <!-- TODO: list of leap years, control to select date -->

      @helper.select(
        field = myForm("birthYear"),
        options = (1900 to 2017).toSeq map (_.toString)  map (i => i->i),
        '_label -> "Year",
        '_default -> ("-- Choose year --")
      )

      @helper.select(
        field = myForm("birthMonth"),
        options = (1 to 12).map(_.toString) zip
        Seq(
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December"
        ),
        '_label -> "Month",
        '_default -> ("-- Choose month --")
      )

      @helper.select(
        field = myForm("birthDate"),
        options = (1 to 31).toSeq map (_.toString)  map (i => i->i),
        '_label -> "Date",
        '_default -> ("-- Choose date --")
      )


    </p>

    Optionally enter your birth time:
    <p>
      Hour<input type="text" name="birthHour">
      Minute<input type="text" name="birthMinute">
    </p>

    <input type="submit" name="Calculate">

  </form>

}
